/* Container principal */
.crud-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    border-radius: 8px;
}

.crud-cadastrar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para os botões */
.btn {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin: 5px 0;
    transition: background-color 0.3s ease;
    margin-bottom: 1.5rem;
}

.cadastrar-btn {
    background-color: #28a745;
}

.cadastrar-btn:hover {
    background-color: #218838;
}

.editar-btn {
    background-color: #007bff;
}

.editar-btn:hover {
    background-color: #0056b3;
}

.remover-btn {
    background-color: #dc3545;
}

.remover-btn:hover {
    background-color: #c82333;
}

.voltar-btn {
    background-color: #6c757d;
    margin-top: 20px;
    display: block;
    width: 100%;
}

.voltar-btn:hover {
    background-color: #5a6268;
}

/* Estilo para as informações do usuário */
.crud-nome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: .3s ease-in-out ;
    padding: 1rem;
}

.crud-usuario:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.crud-data {
    width: 100%;
}

.usuario-nome {
    font-size: 18px;
    color: #333;
}

.crud-operacao {
    margin-top: 10px;
}

/* Estilos para a seção sem dados */
.no-data {
    text-align: center;
    font-style: italic;
    color: #777;
}

/* Responsividade */
@media (max-width: 768px) {
    .crud-container {
        width: 95%;
    }

    h2 {
        font-size: 20px;
    }

    .btn {
        font-size: 14px;
        padding: 6px 12px;
    }

    .crud-usuario {
        padding: 12px;
    }
}
