/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container do formulário */
.form_container {
    background-color: #fff;
    padding: 20px;  /* Reduzido o padding para diminuir o espaço */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;  /* Reduzido a largura máxima para um formulário mais compacto */
}

/* Estilo do título */
.text-center {
    text-align: center;
    color: #333;
    margin-bottom: 15px;  /* Menos espaço abaixo do título */
}

/* Estilização das entradas do formulário */
.form_input {
    margin-bottom: 15px;  /* Menos espaço entre os campos */
}

label {
    font-size: 14px;  /* Tamanho da fonte reduzido */
    color: #555;
    margin-bottom: 6px;  /* Menos espaço abaixo dos labels */
    display: block;
}

/* Estilo das entradas de texto */
.input, .form_input input {
    width: 100%;
    padding: 10px;  /* Menos padding para campos de entrada */
    font-size: 14px;  /* Menor tamanho de fonte */
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
    color: #333;
}

/* Estilo do placeholder */
.input::placeholder {
    color: #aaa;
    font-style: italic;
}

/* Cor quando o campo está em foco */
.input:focus {
    border-color: rgb(113, 216, 113); /* Cor quando o campo está em foco */
}

/* Estilização do botão de cadastro */
.form_botao {
    text-align: center;
}

.btn {
    width: 100%;
    padding: 10px;  /* Menor altura para o botão */
    background-color: rgb(113, 216, 113);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;  /* Menor tamanho de fonte */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgb(95, 184, 95);
}

/* Estilo do link de login */
.form_link {
    text-align: center;
    margin-top: 15px;  /* Menos espaço no link */
}

.form_link a {
    text-decoration: none;
    color: rgb(113, 216, 113);
    font-size: 12px;  /* Tamanho de fonte menor para o link */
    font-weight: bold;
}

.form_link a:hover {
    text-decoration: underline;
}

.form_link span {
    font-size: 14px;
    color: #555;
}