{% extends "base/master.html" %}
{% load static %}
{% block title %} Cadastrar Categoria {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/crud.css' %}">

<div class="bloco">
    <h1> CADASTRAR CATEGORIA </h1>

    <form method="post">
        {% csrf_token %}
        <strong><p>Nome:</strong> {{ form_categoria.nome }}</p>
        <strong><p>Descrição:</strong> {{ form_categoria.descricao }}</p>
        <p><input type="submit" value="Cadastrar"></p>
    </form>
</div>


{% endblock %}