{% extends "base/master.html" %}
{% load static %}
{% block title %} Cadastrar objeto {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/crud_cadastro.css' %}">

<div class="bloco">
    <h1> CADASTRAR OBJETO </h1>

    <form method="post">
        {% csrf_token %}

        <strong><p>Nome:</strong> {{ form_objeto.nome }}</p>
        <strong><p>Descrição</strong> {{ form_objeto.descricao }}</p>
        <strong><p>Categoria:</strong> {{ form_objeto.categoria }}</p>

        <p><input type="submit" value="Cadastrar"></p>
    </form>

    <div class="voltar">
        <a href="{% url 'list_objeto' %}" class="btn voltar-btn">Voltar</a>
    </div>
</div>


{% endblock %}