{% extends "base/master.html" %}
{% load static %}
{% block title %} Cadastrar empréstimo {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/crud_cadastro.css' %}">

<div class="bloco">
    <h1> CADASTRAR EMPRÉSTIMO </h1>

    <form method="post">
        {% csrf_token %}
        {{ form_emprestimo }}

        <p><input type="submit" value="Cadastrar"></p>
    </form>

    <p><a href="{% url 'list_emprestimo' %}">Voltar</a></p>
</div>


{% endblock %}