{% extends "base/master.html" %}
{% load static %}
{% block title %} Cadastrar empréstimo {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/crud_cadastro.css' %}">

<div class="bloco">
    <h1> CADASTRAR EMPRÉSTIMO </h1>

    <form method="post">
        {% csrf_token %}

        <strong><p>Usuário</strong> {{ form_emprestimo.usuario }}</p>
        <strong><p>Objeto</strong> {{ form_emprestimo.objeto }}</p>
        <strong><p>Data de Empréstimo</strong> {{ form_emprestimo.dataEmprestimo }}</p>
        <strong><p>Data de Devolução</strong> {{ form_emprestimo.dataDevolucao }}</p>

        <p><input type="submit" value="Cadastrar"></p>
    </form>

    <div class="voltar">
        <a href="{% url 'list_emprestimo' %}" class="btn voltar-btn">Voltar</a>
    </div>
</div>


{% endblock %}