{% extends "base/master.html" %}
{% load static %}
{% block title %} Cadastrar reserva {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/crud_cadastro.css' %}">

<div class="bloco">
    <h1> CADASTRAR RESERVA </h1>

    <form method="post">
        {% csrf_token %}

        <strong><p>Usuário</strong> {{ form_reserva.usuario }}</p>
        <strong><p>Objeto</strong> {{ form_reserva.objeto }}</p>
        <strong><p>Data da Reserva</strong> {{ form_reserva.dataReserva }}</p>
        <strong><p>Data de Atendimento</strong> {{ form_reserva.dataAtendimento }}</p>

        <p><input type="submit" value="Cadastrar"></p>
    </form> 
    
    <div class="voltar">
        <a href="{% url 'list_reserva' %}" class="btn voltar-btn">Voltar</a>
    </div>
</div>


{% endblock %}