{% extends "base/master.html" %}
{% load static %}
{% block title %} Reserva {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/crud.css' %}">

<div class="crud-container">
    
    <div class="crud-cadastrar">
        <h2>Reservas</h2>
        <a href="{% url 'cad_reserva' %}" class="btn cadastrar-btn">Cadastrar</a>
    </div>

    <div class="crud-data">
        {% if resv %}
        <table class="crud-table">
            <thead>
                <tr>
                    <th>Usuário</th>
                    <th>Objeto</th>
                    <th>Data da Reserva</th>
                    <th>Data do Atendimento</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in resv %}
                <tr>
                    <td>{{ reserva.usuario }}</td>
                    <td>{{ reserva.objeto }}</td>
                    <td>{{ reserva.dataReserva }}</td>
                    <td>{{ reserva.dataAtendimento }}</td>
                    <td class="crud-operacao">
                        <a href="{% url 'edit_reserva' reserva.id %}" class="btn editar-btn">Editar</a>
                        <a href="{% url 'remove_reserva' reserva.id %}" class="btn remover-btn">Remover</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p class="no-data">Não há nenhuma reserva cadastrada.</p>
        {% endif %}
    </div>

    <div class="crud-voltar">
        <a href="{% url 'home' %}" class="btn voltar-btn">Voltar à página inicial</a>
    </div>
</div>

{% endblock %}


