{% extends "base/master.html" %}
{% load static %}
{% block title %} Reserva {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/crud.css' %}">

<div class="bloco">
    <h1> Reservas </h1>
    <br>
    
    <p><a href="{% url 'cad_reserva' %}"> CADASTRAR </a></p>
    <br>

    {% for reserva in resv %}       

            <p>
                <strong>Nome:</strong> {{reserva.usuario}}
                | <a href="{% url 'edit_reserva' reserva.id %}"> EDITAR </a>
                | <a href="{% url 'remove_reserva' reserva.id %}"> REMOVER </a>
            </p>
            <p><strong>Matricula:</strong> {{reserva.objeto}}</p>
            <p><strong>Telefone:</strong> {{reserva.dataReserva}}</p>
            <strong>Email:</strong> {{reserva.dataAtendimento}}

        <br>
            <p>------------------------------------</p>
        {% empty %}

        <p>Não há nenhum cadastro de usuario</p>
        
    {% endfor %}

    <p><a href="{% url 'home' %}">Voltar a página inicial</a></p>
</div>





{% endblock %}