{% extends "base/master.html" %}
{% load static %}
{% block title %} Categorias {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/crud.css' %}">

<div class="crud-container">
    
    <div class="crud-cadastrar">
        <h2>Categorias</h2>
        <a href="{% url 'cad_categoria' %}" class="btn cadastrar-btn">Cadastrar</a>
    </div>

    <div class="crud-data">
        {% for categoria in catg %} 
            <div class="crud-usuario">
                <p class="crud-nome"><strong>Nome: </strong> {{categoria.nome}}</p>
                <p class="crud-nome"><strong>Descrição: </strong> {{categoria.descricao}}</p>
            
                <div class="crud-operacao">
                    <a href="{% url 'edit_categoria' categoria.id  %}" class="btn editar-btn">Editar</a>
                    <a href="{% url 'remove_categoria' categoria.id %}" class="btn remover-btn">Remover</a>
                </div>
            </div>
        {% empty %}
            <p class="no-data">Não há nenhum cadastro de usuário.</p>
        {% endfor %}
    </div>

    <div class="crud-voltar">
        <a href="{% url 'home' %}" class="btn voltar-btn">Voltar à página inicial</a>
    </div>
</div>

{% endblock %}

