{% extends "base/master.html" %}
{% load static %}
{% block title %} Objetos {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/crud.css' %}">

<div class="crud-container">
    
    <div class="crud-cadastrar">
        <h2>Objetos</h2>
        <a href="{% url 'cad_objeto' %}" class="btn cadastrar-btn">Cadastrar</a>
    </div>

    <div class="crud-data">
        {% for objeto in obj %} 
            <div class="crud-usuario">
                <div class="crud-texto">
                    <p class="crud-nome"><strong>Nome: </strong> {{objeto.nome}}</p>
                    <p class="crud-nome"><strong>Descrição: </strong> {{objeto.categoria}}</p>
                    <p class="crud-nome"><strong>Data de Cadastro: </strong> {{objeto.dataCadastro}}</p>
                    <p class="crud-nome"><strong>Categoria: </strong> {{objeto.descricao}}</p>
                </div>
            
                <div class="crud-operacao">
                    <a href="{% url 'edit_objeto' objeto.id %}" class="btn editar-btn">Editar</a>
                    <a href="{% url 'remove_objeto' objeto.id %}" class="btn remover-btn">Remover</a>
                </div>
            </div>
        {% empty %}
            <p class="no-data">Não há nenhum cadastro de usuário.</p>
        {% endfor %}
    </div>

    <div class="crud-voltar">
        <a href="{% url 'home' %}" class="btn voltar-btn">Voltar à página inicial</a>
    </div>
</div>

{% endblock %}
