{% extends "base/master.html" %}
{% load static %}
{% block title %} Reserva {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/crud.css' %}">

<div class="crud-container">
    
    <div class="crud-cadastrar">
        <h2>Reservas</h2>
        <a href="{% url 'cad_reserva' %}" class="btn cadastrar-btn">Cadastrar</a>
    </div>

    <div class="crud-data">
        {% for reserva in resv %} 
            <div class="crud-usuario">
                <div class="crud-texto">
                    <p class="crud-nome"><strong>Usuario: </strong> {{reserva.usuario}}</p>
                    <p class="crud-nome"><strong>Objeto: </strong> {{reserva.objeto}}</p>
                    <p class="crud-nome"><strong>Data da Reserva: </strong> {{reserva.dataReserva}}</p>
                    <p class="crud-nome"><strong>Data do Atendimento: </strong> {{reserva.dataAtendimento}}</p>
                </div>
            
                <div class="crud-operacao">
                    <a href="{% url 'edit_reserva' reserva.id %}" class="btn editar-btn">Editar</a>
                    <a href="{% url 'remove_reserva' reserva.id %}" class="btn remover-btn">Remover</a>
                </div>
            </div> 
        {% empty %}
            <p class="no-data">Não há nenhum cadastro de usuário.</p>
        {% endfor %}
    </div>

    <div class="crud-voltar">
        <a href="{% url 'home' %}" class="btn voltar-btn">Voltar à página inicial</a>
    </div>
</div>

{% endblock %}
