{% extends "base/master.html" %}
{% load static %}
{% block title %} Categorias {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/crud.css' %}">

<div class="crud-container">
    
    <div class="crud-cadastrar">
        <h2>Categorias</h2>
        <a href="{% url 'cad_categoria' %}" class="btn cadastrar-btn">Cadastrar</a>
    </div>

    <div class="crud-data">
        {% if catg %}
        <table class="crud-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in catg %}
                <tr>
                    <td>{{ categoria.nome }}</td>
                    <td>{{ categoria.descricao }}</td>
                    <td class="crud-operacao">
                        <a href="{% url 'edit_categoria' categoria.id %}" class="btn editar-btn">Editar</a>
                        <a href="{% url 'remove_categoria' categoria.id %}" class="btn remover-btn">Remover</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p class="no-data">Não há nenhuma categoria cadastrada.</p>
        {% endif %}
    </div>

    <div class="crud-voltar">
        <a href="{% url 'home' %}" class="btn voltar-btn">Voltar à página inicial</a>
    </div>
</div>

{% endblock %}
