{% extends "base/master.html" %}
{% load static %}
{% block title %} Usuários {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/crud.css' %}">

<div class="bloco">
    <h1> Usuarios </h1>
    <br>
    <p><a href="{% url 'registro' %}"> CADASTRAR </a></p>
    <br>
    {% for x in usuario %}       

            <p>
                <strong>Nome:</strong> {{x.nome}}
                | <a href="{% url 'edit' x.matricula %}"> EDITAR </a>
                | <a href="{% url 'remove' x.matricula %}"> REMOVER </a>
            </p>
            <p><strong>Matricula:</strong> {{x.matricula}}</p>
            <p><strong>Telefone:</strong> {{x.telefone}}</p>
            <strong>Email:</strong> {{x.email}}

        <br>
            <p>------------------------------------</p>
        {% empty %}

        <p>Não há nenhum cadastro de usuario</p>
        
    {% endfor %}

    <p><a href="{% url 'home' %}">Voltar a página inicial</a></p>

</div>

{% endblock %}