{% extends "base/master.html" %}
{% load static %}
{% block title %} Usuários {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/crud.css' %}">

<div class="crud-container">
    
    <div class="crud-cadastrar">
        <h2>Usuários</h2>
        <a href="{% url 'registro' %}" class="btn cadastrar-btn">Cadastrar</a>
    </div>

    <div class="crud-data">
        {% for x in usuario %}
            <div class="crud-usuario">
                <p class="crud-nome"><strong>Nome: </strong> {{ x.nome }}</p>

                <div class="crud-operacao">
                    <a href="{% url 'edit' x.matricula %}" class="btn editar-btn">Editar</a>
                    <a href="{% url 'remove' x.matricula %}" class="btn remover-btn">Remover</a>
                </div>
            </div>
        {% empty %}
            <p class="no-data">Não há nenhum cadastro de usuário.</p>
        {% endfor %}
    </div>

    <div class="crud-voltar">
        <a href="{% url 'home' %}" class="btn voltar-btn">Voltar à página inicial</a>
    </div>
</div>

{% endblock %}

