{% extends "base/master.html" %}
{% load static %}
{% block title %} Objetos {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/crud.css' %}">

<div class="crud-container">
    
    <div class="crud-cadastrar">
        <h2>Objetos</h2>
        <a href="{% url 'cad_objeto' %}" class="btn cadastrar-btn">Cadastrar</a>
    </div>

    <div class="crud-data">
        {% if obj %}
        <table class="crud-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Data de Cadastro</th>
                    <th>Categoria</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for objeto in obj %}
                <tr>
                    <td>{{ objeto.nome }}</td>
                    <td>{{ objeto.categoria }}</td>
                    <td>{{ objeto.dataCadastro }}</td>
                    <td>{{ objeto.descricao }}</td>
                    <td class="crud-operacao">
                        <a href="{% url 'edit_objeto' objeto.id %}" class="btn editar-btn">Editar</a>
                        <a href="{% url 'remove_objeto' objeto.id %}" class="btn remover-btn">Remover</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p class="no-data">Não há nenhum objeto cadastrado.</p>
        {% endif %}
    </div>

    <div class="crud-voltar">
        <a href="{% url 'perfil' %}" class="btn voltar-btn">Voltar à página de perfil</a>
    </div>
</div>

{% endblock %}

