/*=============== CONFIG ===============*/

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== HOME ===============*/

.home_opcoes {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

.home_botao1 {
    display: inline-block;
    padding: 1rem 1.8rem;
    color: black;
    background-color: rgb(152, 255, 152);
    border-radius: 0.5rem; 
    font-size: 1.2rem; 
    transition: 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(132, 137, 141, 0.25);
}
    
.home_botao2 {
    display: inline-block;
    padding: 1rem 1.8rem;
    color: black;
    background-color: rgb(255, 255, 136);
    border-radius: 0.5rem; 
    font-size: 1.2rem; 
    transition: 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(132, 137, 141, 0.25);
}
    
.home_cards {
    display: flex;
    justify-content: flex-start; 
    gap: 20px; 
    width: 100%; 
   
}

.home_card {
    width: 300px; /* Aqui é pra definir a largura do bagulho */
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.home_card img {
    width: 100%; /* Imagem ocupar todo o espaço */
    border-radius: 10px 10px 0 0;
}

.home_card-texto {
    height: 120px;
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.home_card-botao {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: rgb(152, 255, 152);
    border-radius: 0.5rem; 
    font-size: 1rem; 
    transition: 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(132, 137, 141, 0.25);
}

.home_card-descricao {
    font-size: 0.8rem;
}

.home_card-botao a {
    color: black;
}
