{% extends "base/master.html" %}
{% load static %}
{% block title %} Login {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/login_express.css' %}">

<section class="forms form_container">
    <div class="form login">
        <div class="form-content">
            <h2>Login Express</h2>
            
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}

            <form action="" method="post">
                {% csrf_token %}
                
                <!-- E-mail -->
                <div class="form_input">
                    <input type="text" name="email" placeholder="E-mail" class="input">
                </div>

                <!-- Password -->
                <div class="form_input">
                    <input type="password" name="password" placeholder="Senha" class="input">
                </div>

                <div class="form_link">
                    <a href="">Esqueceu sua senha ?</a>
                </div>

                <div class="form_botao">
                    <button>Acessar</button>
                </div>

                <div class="form_link">
                    <span>Não possui uma conta? <a href="{% url 'registro_express' %}">Cadastrar</a></span>
                </div>

                <div class="form_link">
                    <span>Logar via Django <a href="{% url 'login' %}">AQUI</a></span>
                </div>

            </form>

        </div>
    </div>
</section>

{% endblock %}