{% extends "base/master.html" %}
{% load static %}
{% block title %} Cadastro {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/registro_express.css' %}">

<div class="form_container">
    <h1 class="text-center">Cadastro Express</h1>

    <form method="POST">
        {% csrf_token %}
        
        <!-- Nome  -->
        <div class="form_input">
            <div class="form_field2">
                <label for="id_email">Nome</label>
                <input type="text" name="nome" placeholder="Nome" class="input">
            </div>
        </div>

        <!-- CPF -->
        <div class="form_input">
            <div class="form_field2">
                <label for="id_email">CPF</label>
                <input type="text" name="cpf" placeholder="CPF" class="input">
            </div>     
        </div>
    
        <!-- Telefone -->
        <div class="form_input">
            <div class="form_field2">
                <label for="id_email">Telefone</label>
                <input type="text" name="telefone" placeholder="Telefone" class="input">
            </div>
        </div>



        <!-- E-mail -->
        <div class="form_input">
            <div class="form_field2">
                <label for="id_email">E-mail</label>
                <input type="text" name="email" placeholder="E-mail" class="input">
            </div>     
        </div>
    
        <!-- Senha -->
        <div class="form_input">
            <div class="form_field2">
                <label for="id_password1">Senha</label>
                <input type="text" name="password" placeholder="Senha" class="input">
            </div>
        </div>


        <!-- Botão de Envio -->
        <div class="form_botao">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>

        <div class="form_link">
            <span>Já possui uma conta? <a href="{% url 'login_express' %}">Logar</a></span>
        </div>
        
    </form>
</div>


{% endblock %}