{% extends "base/master.html" %}
{% load static %}
{% block title %} Cadastro {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/registro.css' %}">

<div class="form_container">
    <h1 class="text-center">Cadastro</h1>

    <form method="POST">
        {% csrf_token %}
        
        <!-- Matrícula -->
        <div class="form_input">
            <label for="id_matricula">Matrícula</label>
            {{ form_registro.matricula }}
        </div>
    
        <!-- Nome Completo -->
        <div class="form_input">
            <label for="id_nome">Nome Completo</label>
            {{ form_registro.nome }}
        </div>
    
        <!-- Usuário -->
        <div class="form_input">
            <label for="id_username">Usuário</label>
            {{ form_registro.username }}
        </div>
    
        <!-- Telefone -->
        <div class="form_input">
            <label for="id_telefone">Telefone</label>
            {{ form_registro.telefone }}
        </div>
    
        <!-- E-mail -->
        <div class="form_input">
            <label for="id_email">E-mail</label>
            {{ form_registro.email }}
        </div>
    
        <!-- Senha -->
        <div class="form_input">
            <label for="id_password1">Senha</label>
            {{ form_registro.password1 }}
        </div>
    
        <!-- Repetir Senha -->
        <div class="form_input">
            <label for="id_password2">Repetir Senha</label>
            {{ form_registro.password2 }}
        </div>
    
        <!-- Botão de Envio -->
        <div class="form_botao">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </form>
</div>

{% endblock %}