{% extends "base/master.html" %}
{% load static %}
{% block title %} Cadastro {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/cadastro.css' %}">

    <div class="container">
        <h1> Página de cadastro </h1>

        <form method="POST">
            {% csrf_token %}
            {{ form_categoria }}
            <p><input type="submit" value="Cadastrar"></p>
        </form>

        <p><a href="{% url 'login' %}">Ir para login</a></p>
    </div>
{% endblock %}