{% extends 'base/master.html' %}
{% load static %}
{% block title %} Página Inicial {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/home.css' %}">

<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
<script src="{% static 'js/scripts.js' %}"></script>


<section class="home section home_img">

    <div class="overlay"></div>
    <div class="home_data container">
        <h2 title="Título" class="home_titulo">SISTEMA DE EMPRÉSTIMOS AUTOMATIZADO</h2>
        <h1 title="Sub-título" class="home_subtitulo">COAPAC</h1>
        <div class="home_opcoes">
            <a class="home_botao1" href="{% url 'objetos_disponiveis' %}">Objetos disponiveis</a>
            <a class="home_botao2" href="{% url 'listar_emprestimos' %}">Empréstimos em andamento</a>
        </div>
    </div>
</section>

{% endblock %}
