{% extends "base/master.html" %}
{% load static %}
{% block title %} Empréstimos em andamento {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/listar_emprestimos.css' %}">

<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
<script src="{% static 'js/scripts.js' %}"></script>

<div class="emprestimo_data">
    <h2>Empréstimos em Andamento</h2>

    <div class="emprestimo_card_container">
        {% for emprestimo in emprestimos %}
            <div class="emprestimo_card">
                <div class="emprestimo_info">
                    <p>{{ emprestimo.objeto.nome }}</p>
                </div>
               
                <div class="emprestimo_botao">
                    {% if not emprestimo.devolvido %}
                    <a href="{% url 'devolver_objeto' emprestimo.id %}" class="btn">Devolver</a>
                    {% endif %}
                </div>      
            </div>
        {% empty %}
            <p class="empty_message">Nenhum empréstimo foi realizado no momento.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}