{% extends "base/master.html" %}
{% load static %}
{% block title %} Perfil {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/perfil.css' %}">

<div class="perfil_container">
    <div class="perfil_data">
        <div class="perfil_info">
            <h2>{{ user.nome }}</h2>
            <p>Matricula: {{ user.matricula }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Telefone: {{ user.telefone }}</p>
        </div>

        <div class="perfil_sair">
            <a href="{% url 'logout' %}">Sair</a>
        </div>
    </div>

    <div class="perfil_crud">
        <h2>Menu de Administração</h2>
        <ul>
            <li><a href="{% url 'list_categoria' %}">Categorias</a></li>
            <li><a href="{% url 'list_objeto' %}">Objetos</a></li>
            <li><a href="{% url 'list_emprestimo' %}">Empréstimos</a></li>
            <li><a href="{% url 'list_reserva' %}">Reservas</a></li>
            <li><a href="{% url 'list_usuario' %}">Lista de Usuários</a></li>
            <li><a href="{% url 'remove_express' %}">Usuários Express</a></li>
        </ul>
    </div>
</div>

{% endblock %}
