{% extends 'base/master.html' %}
{% load static %}
{% block title %} Página Inicial {% endblock %}

{% block content %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/home.css' %}">

<section class="home">
    <div class="home_data container">

        <div class="home_opcoes">
            <a class="home_botao1" href="">Objetos Disponiveis</a>
            <a class="home_botao2" href="">Objetos Reservados</a>
        </div>
        
        <div class="home_cards">
            <div class="home_card">
                <img src="{% static 'images/caixadesom.png' %}" alt="Logo">
                <div class="home_card-texto"> 
                    <div class="home_card-descricao">
                        <h2>Caixa de Som</h2>
                        <p>Status: Disponível</p>
                    </div>

                    <div class="home_card-botao">
                        <a href="">Reservar</a>
                    </div>
                </div>
            </div>

            <div class="home_card">
                <img src="{% static 'images/projetor.png' %}" alt="Logo">
                <div class="home_card-texto"> 
                    <div class="home_card-descricao">
                        <h2>Projetor</h2>
                        <p>Status: Disponível</p>
                    </div>

                    <div class="home_card-botao">
                        <a href="">Reservar</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</section>
{% endblock %}
