/*=============== CONFIG ===============*/

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== HOME ===============*/

.home {
    position: relative;
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-attachment: fixed; /* Faz a imagem se mover junto com o scroll */
    height: 100vh; /* Altura de 100% da tela */
    width: 100%; /* Largura de 100% */
    display: flex;
    align-items: center; /* Centraliza verticalmente o conteúdo */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    text-align: center;
    background-image: url('/static/images/ifrn.jpg');
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Preserva a imagem de fundo */
    filter: brightness(30%);
    z-index: 0; 
}

.home_data {
    position: relative;
    z-index: 1; /* Garante que o conteúdo fique acima da sobreposição */
    color: white; /* Cor do texto */
}

.home_data h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home_data h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
    font-weight: 800;
}

.home_opcoes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.home_botao1 {
    display: inline-block;
    padding: 1rem 1.8rem;
    color: black;
    background-color: rgb(152, 255, 152);
    border-radius: 0.5rem; 
    font-size: 1.2rem; 
    transition: 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(132, 137, 141, 0.25);
}
    
.home_botao2 {
    display: inline-block;
    padding: 1rem 1.8rem;
    color: black;
    background-color: rgb(255, 255, 136);
    border-radius: 0.5rem; 
    font-size: 1.2rem; 
    transition: 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(132, 137, 141, 0.25);
}
