{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} COAPAC {% endblock %}</title>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/base.css' %}">
        <script src="https://kit.fontawesome.com/2f89107e0d.js" crossorigin="anonymous"></script>

</head>
<body>
    <header class="header" id="header">
        <nav class="nav container">
            <div>
                <a href="{% url 'home' %}"><img class="nav_logo" src="{% static 'images/logo.png' %}" alt="Logo">
                </a>
                
            </div>

            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list">
                    <li>
                        <input class="nav_input" type="text" id="search" placeholder="Digite sua pesquisa...">
                        <button class="nav_botao">Pesquisar</button>
                    </li>
                    <li>
                        <p> {{ user.nome }} </p>
                    </li>
                    <li>
                        <a href="{% url 'perfil' %}">    
                            <i class="fa-solid fa-user"></i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="fa-solid fa-right-from-bracket"></i>
                        </a>
                    </li>
    
                </ul>
        </nav>
    </header>

    <main>
        {% block content %}
            <!-- O conteúdo das páginas será inserido aqui -->
        {% endblock %}   
    </main>

    <footer class="footer">
        <p>© 2025 Coapac - Todos os direitos reservados</p>
    </footer>
</body>
</html>
