/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container do formulário */
.form_container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;  /* Tamanho do formulário */
}

/* Estilo do título */
.text-center {
    text-align: center;
    color: #333;
    padding-bottom: 2rem;
}

/* Estilização das entradas do formulário */
.form_input {
    display: flex;
    flex-wrap: wrap; /* Permite que os campos se ajustem na linha */
    gap: 20px;  /* Espaço entre os campos */
    margin-bottom: 1rem;
}

/*
.form_field {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px); 
    margin-bottom: 1rem;
}
*/

.form_field2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 0.5rem;
}

/* Estilo das entradas de texto */
.input, .form_input input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
    color: #333;
}

/* Cor quando o campo está em foco */
.input:focus {
    border-color: rgb(113, 216, 113);
}

/* Estilização do botão de cadastro */
.form_botao {
    text-align: center;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(113, 216, 113);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgb(95, 184, 95);
}

/* Estilo do link de login */
.form_link {
    text-align: center;
    margin-top: 15px;
}

.form_link a {
    text-decoration: none;
    color: rgb(113, 216, 113);
    font-size: 12px;
    font-weight: bold;
}

.form_link a:hover {
    text-decoration: underline;
}

.form_link span {
    font-size: 14px;
    color: #555;
}
